//Copyright (C)2014-2025 Gowin Semiconductor Corporation.
//All rights reserved. 
//File Title: Physical Constraints file
//Tool Version: V1.9.11.01 (64-bit)
//Part Number: GW1NR-LV9QN88PC6/I5
//Device: GW1NR-9
//Device Version: C
//Created Time: Mon 04 07 17:46:06 2025

IO_LOC "SD_CLK" 36;
IO_PORT "SD_CLK" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SD_MOSI" 37;
IO_PORT "SD_MOSI" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SD_CS" 38;
IO_PORT "SD_CS" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "DFP_tx" 74;
IO_PORT "DFP_tx" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "LED_2" 13;
IO_PORT "LED_2" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED_1" 11;
IO_PORT "LED_1" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "LED_0" 10;
IO_PORT "LED_0" IO_TYPE=LVCMOS18 PULL_MODE=UP DRIVE=8 BANK_VCCIO=1.8;
IO_LOC "Audio_O" 32;
IO_PORT "Audio_O" IO_TYPE=LVTTL33 PULL_MODE=UP DRIVE=8 BANK_VCCIO=3.3;
IO_LOC "SD_MISO" 39;
IO_PORT "SD_MISO" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "option[3]" 42;
IO_PORT "option[3]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "option[2]" 41;
IO_PORT "option[2]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "option[1]" 35;
IO_PORT "option[1]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "option[0]" 40;
IO_PORT "option[0]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "game_sel[5]" 34;
IO_PORT "game_sel[5]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "game_sel[4]" 33;
IO_PORT "game_sel[4]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "game_sel[3]" 30;
IO_PORT "game_sel[3]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "game_sel[2]" 29;
IO_PORT "game_sel[2]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "game_sel[1]" 28;
IO_PORT "game_sel[1]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "game_sel[0]" 27;
IO_PORT "game_sel[0]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "SB_Opt[6]" 57;
IO_PORT "SB_Opt[6]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "SB_Opt[5]" 56;
IO_PORT "SB_Opt[5]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "SB_Opt[4]" 55;
IO_PORT "SB_Opt[4]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "SB_Opt[3]" 54;
IO_PORT "SB_Opt[3]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "SB_Opt[2]" 53;
IO_PORT "SB_Opt[2]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "SB_Opt[1]" 51;
IO_PORT "SB_Opt[1]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Sound[4]" 73;
IO_PORT "Sound[4]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Sound[3]" 31;
IO_PORT "Sound[3]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Sound[2]" 70;
IO_PORT "Sound[2]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Sound[1]" 71;
IO_PORT "Sound[1]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "Sound[0]" 72;
IO_PORT "Sound[0]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "test" 4;
IO_PORT "test" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "reset_sw" 3;
IO_PORT "reset_sw" IO_TYPE=LVCMOS18 PULL_MODE=UP BANK_VCCIO=1.8;
IO_LOC "clk_27" 52;
IO_PORT "clk_27" IO_TYPE=LVCMOS33 PULL_MODE=NONE BANK_VCCIO=3.3;
IO_LOC "SB_Opt[8]" 69;
IO_PORT "SB_Opt[8]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "DFP_Busy" 63;
IO_PORT "DFP_Busy" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "DFP_rx" 75;
IO_PORT "DFP_rx" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
IO_LOC "SB_Opt[7]" 68;
IO_PORT "SB_Opt[7]" IO_TYPE=LVTTL33 PULL_MODE=UP BANK_VCCIO=3.3;
